*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.main{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(from 210deg, #c5bbb8 0.000deg, #c5bbb8 24.000deg, #b8b5b8 calc(24.000deg + 0.1deg), #b8b5b8 48.000deg, #a9afb7 calc(48.000deg + 0.1deg), #a9afb7 72.000deg, #9aa8b5 calc(72.000deg + 0.1deg), #9aa8b5 96.000deg, #8ba1b3 calc(96.000deg + 0.1deg), #8ba1b3 120.000deg, #7d98af calc(120.000deg + 0.1deg), #7d98af 144.000deg, #7090ab calc(144.000deg + 0.1deg), #7090ab 168.000deg, #6587a6 calc(168.000deg + 0.1deg), #6587a6 192.000deg, #5c7ea1 calc(192.000deg + 0.1deg), #5c7ea1 216.000deg, #55759b calc(216.000deg + 0.1deg), #55759b 240.000deg, #516c94 calc(240.000deg + 0.1deg), #516c94 264.000deg, #4f638d calc(264.000deg + 0.1deg), #4f638d 288.000deg, #505a85 calc(288.000deg + 0.1deg), #505a85 312.000deg, #54537d calc(312.000deg + 0.1deg), #54537d 336.000deg, #5b4b74 calc(336.000deg + 0.1deg) 360.000deg);
}

.sub-main{
  background: #fff;
  backdrop-filter: blur(12px);
  padding: 40px 50px;
  border-radius: 20px;
  width: 380px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.head{
  font-size:30px;
  font-weight: 700;
  color:#2f3cff;
  margin-bottom: 16px;
  line-height: 2.25rem;
}

.head-count{
  font-size:3rem;
  font-weight: 600;
  color: #4caf50;
  margin-bottom: 1.5rem;
  line-height:1;
}

.buttons{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 25px;
}

.btn{
  flex: 1;
  padding: 10px 0;
  font-size: 0.95rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.inc{
  background: #4caf50;
  color: white;
}

.dec{
  background: #ff5252;
  color: white;
}

.reset{
  background: transparent;
  color: #555;
  border: 1px solid #ccc;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.limits {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
}